<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hello</title>
    <link rel="stylesheet" th:href="@{https://assets.cm.shoito.dev/{tenant}/css/style.css(tenant=${tenant})}" />
    <script th:src="@{https://assets.cm.shoito.dev/{tenant}/js/tenant.js(tenant=${tenant})}"></script>
</head>
<body>

<header id="tenant-header"><!-- テナント毎ヘッダー --></header>
<h1 th:text="${message}"></h1>
<p>共通部分</p>
<p th:text="${tenant}"></p>
<footer id="tenant-footer"><!-- テナント毎フッター --></footer>
</body>
</html>
